html
	head
		link(rel="stylesheet", href="/public/main.css")
	body
		h1 Hello World, this is!

		posts= posts

		block content
			p This page doesn't have any content yet.

	script(src="/public/main.js")
